body {
	font-family: 'Ubuntu', sans-serif;
	background: url('../img/fon.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}

.main-header {
	background: rgba(0, 0, 0, 0.45);
	color: #fff;
	padding: 18px 79px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link,
.wlin-link {
	color: #fff;
}

.logo-link:hover,
.wlin-link:hover {
	color: #4caf50;
}

.left {
	display: flex;
	align-items: center;
	gap: 28px;
}

.icon img {
	transition: filter 0.3s ease;
}

.icon:hover img {
	filter: brightness(1.5);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.bot-text {
	margin-top: 20px;
	display: flex;
	gap: 220px;
}

.signup-form {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

input:focus + label,
input:not(:placeholder-shown) + label {
	top: -12px;
	font-size: 12px;
}

button {
	background: #4caf50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modal {
	width: 444px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding-bottom: 38px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bot-text a {
	color: #3cb878;
}

.bot-text a:hover {
	text-decoration: underline;
}

.or {
	text-align: center;
	margin-top: 15px;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.input-field {
	width: 324px;
	height: 45px;
	padding: 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s, opacity 0.3s;
	opacity: 0.5;
}

.input-field:hover,
.input-field:focus {
	opacity: 1;
	border-color: #000;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.checkbox-label a {
	color: #3cb878;
	cursor: pointer;
}

.checkbox-label a:hover {
	text-decoration: underline;
}

.login-button {
	width: 324px;
	height: 45px;
	background: #3cb878cc;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.login-button:hover {
	background: #01813f;
}

.social-buttons {
	margin-top: 20px;
	display: flex;
	gap: 5px;
}

.google-button,
.facebook-button {
	width: 160px;
	height: 45px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.google-button {
	background: #df4a32;
}

.facebook-button {
	background: #305db8;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.google-button:hover {
	background: #ab1f09;
}

.facebook-button:hover {
	background: #022263;
}
